
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <script type="text/javascript">
	$(document).ready(function(){
	    gmap_form(null);    // form map for new view (print nothing with possibility of put marker)
	  });
</script>